Flask==2.0.1
Flask-Login==0.5.0
Flask-MySQLdb==0.2.0
Flask-WTF==0.14.3
Werkzeug==2.0.1
nltk==3.6.3
numpy==1.21.0
soundfile==0.10.3.post1
praat-parselmouth==0.3.3
pydub==0.24.1
librosa==0.8.0
torch==1.9.0
