<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit VTT File</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Include the navigation section -->
    {% include 'nav.html' %}

    <div>
        <h1>Edit Your Closed Caption File</h1>
        <p style="font-size: larger">Edit the VTT content below:</p>
    </div>

    <!-- Text area for editing VTT content -->
    <textarea id="edited-content" class="scrollable-div">{{ vtt_content }}</textarea>

    <!-- Button to trigger VTT download -->
    <div>
        <button id="saveAndDownloadButton" onclick="saveAndDownload()">
            Save and Download VTT File
        </button>
    </div>

    <script>
        function saveAndDownload() {
            var editedContent = document.getElementById("edited-content").value;
            fetch(`/save_vtt/{{ audio_id }}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ content: editedContent }),
            })
            .then((response) => {
                if (response.ok) {
                    alert("VTT content saved successfully.");
                    window.location.href = `/download_vtt/{{ audio_id }}`; // Redirect to download VTT
                } else {
                    console.error("Failed to save VTT file.");
                    alert("Failed to save VTT file. Please try again.");
                }
            })
            .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred. Please try again.");
            });
        }
    </script>
</body>
</html>
